body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #1a9c39;
  }
  