body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/bg-image.jpg'); 
    backdrop-filter: blur(0.5px);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #3098e1;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  .back-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: small;
    background-color:#3098e1 ;
    padding: 5px;
    border-radius: 4px;
  }
  